@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
@keyframes fadeSlide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.animate-fadeSlide {
  animation: fadeSlide 4s ease-in-out forwards;
}